*{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width:100%;
    /* box-sizing: border-box; */
    overflow: hidden;
}

.bg{
    height: 100%;
    width:100%;
    background-color: rgb(113, 229, 177);
}

.bg .c1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(127, 237, 208);
    position: absolute;
    top:16%;
    left: 22%;
}

.bg .c2{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: rgb(55, 217, 98);
    position: absolute;
    top:58%;
    left: 40%;
}

.bg .img{
    width: 45%;
    height: 530px;
    background-image: url("../image/me4.jpg");
    background-size: cover;
    position: absolute;
    top:20%;
    left: 13%;
}

.bg .sc{
    width: 40%;
    height: 50%;
    background-color: aliceblue;
    padding: 40px 60px;
    position: absolute;
    top:25%;
    left: 47%;
    border-radius: 5px;
    box-shadow: 0 2.6px 5.3px rgb(43, 166, 129),
    0 10px 17.9px rgb(15, 60, 46),
    0 22px 80px rgb(203, 237, 227);
}

.bg .sc h1{
    color: rgb(22, 22, 23);
}

.bg .sc h2{
    color:rgb(15, 16, 15);
    font-size:28px;
    font-weight: 700;
    margin-top: 18px;
}
 

.bg .sc p{
    color: rgb(55, 54, 56);
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 25px;
}

sup{
    color: black;
}
